<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
	<ion-content>
		<div class="row row-center">
			<div class="col col-center text-center">
				<h1 class="animated bounceInDown" on-tap="hello()">IPA Game</h1>
				<div id="container" class="animated bounceInLeft">
					<div class="power left"></div>
					<h3>Series 1 - <span>The Lost</span></h3>
					<div class="power right"></div>
				</div>
				<button class="button button-outline button-block button-light animated bounceInUp" ui-sref="app">
					Enter
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>