@media (min-width: 680px) {
  .bigModal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important; }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header, .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px; } }

.center-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important; }
  .center-content .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.animate-item {
  animation: fadeInLeft 1s; }

/* jura-regular - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jura/jura-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Jura Regular"), local("Jura-Regular"), url("../fonts/jura/jura-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/jura/jura-v7-latin-regular.woff2") format("woff2"), url("../fonts/jura/jura-v7-latin-regular.woff") format("woff"), url("../fonts/jura/jura-v7-latin-regular.ttf") format("truetype"), url("../fonts/jura/jura-v7-latin-regular.svg#Jura") format("svg");
  /* Legacy iOS */ }

.galleryView .item {
  min-height: 130px;
  padding-top: 35px; }
  .galleryView .item .icon:before {
    font-size: 90px; }
  .galleryView .item p {
    color: white;
    padding-top: 12px; }

.galleryView .item.ng-enter-stagger {
  animation-delay: 200ms;
  animation-duration: 0; }

.galleryView .animated:nth-child(1) {
  animation-delay: 0.25s; }

.galleryView .animated:nth-child(2) {
  animation-delay: 0.5s; }

.galleryView .animated:nth-child(3) {
  animation-delay: 0.75s; }

.galleryView .animated:nth-child(4) {
  animation-delay: 1s; }

.galleryView .animated:nth-child(5) {
  animation-delay: 1.25s; }

.galleryView .animated:nth-child(6) {
  animation-delay: 1.5s; }

.galleryView .animated:nth-child(7) {
  animation-delay: 1.75s; }

.galleryView .animated:nth-child(8) {
  animation-delay: 2s; }

.galleryView .animated:nth-child(9) {
  animation-delay: 2.25s; }

.galleryView .animated:nth-child(10) {
  animation-delay: 2.5s; }

.galleryView .bold {
  font-weight: bold; }

.homeView h1, .homeView button {
  font-family: 'Jura'; }

.homeView h1 {
  font-size: 7em;
  color: white; }

.homeView h3 {
  color: #eee; }
  .homeView h3 span {
    font-style: italic; }

.homeView button {
  font-size: 26px; }

.homeView #container {
  position: relative;
  min-height: 90px; }

.homeView .power {
  position: absolute;
  bottom: 30px;
  width: 152px;
  height: 110px;
  background: url(http://i.imgur.com/yvYmv4s.png);
  animation: play 0.65s steps(6) infinite; }
  .homeView .power.left {
    right: 236px;
    transform: scale(0.4) rotateY(180deg); }
  .homeView .power.right {
    left: 236px;
    transform: scale(0.4); }

.homeView .scroll-content {
  background: linear-gradient(145deg, #6C6C6C, #95A2AB, #206AA7, #00508D, #002F57, #442144);
  background-size: 800% 800%;
  animation: background 26s ease infinite; }
  .homeView .scroll-content .scroll {
    height: 100%; }
    .homeView .scroll-content .scroll .row-center {
      height: 100%; }

@keyframes background {
  0% {
    background-position: 1% 0%; }
  50% {
    background-position: 99% 100%; }
  100% {
    background-position: 1% 0%; } }

@keyframes play {
  100% {
    background-position: -912px; } }

@media (min-width: 380px) {
  .homeView .power.left {
    right: 75%; }
  .homeView .power.right {
    left: 75%; } }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important; }

.itemView .animated {
  animation-delay: 0.2s; }

.menu ion-header-bar {
  border: none;
  box-shadow: none;
  min-height: 150px;
  color: #fff;
  padding: 0; }
  .menu ion-header-bar .item {
    background-color: #206AA7;
    border: none;
    width: 100%;
    padding-left: 120px;
    padding-top: 45px; }
    .menu ion-header-bar .item img {
      max-width: 100px !important;
      top: 25% !important;
      left: 10px !important; }
    .menu ion-header-bar .item h2, .menu ion-header-bar .item p {
      font-family: 'Jura'; }
    .menu ion-header-bar .item h2 {
      font-size: 35px;
      font-weight: bold; }
    .menu ion-header-bar .item p {
      font-size: 20px;
      color: white; }

.menu ion-content {
  top: 150px !important;
  background: linear-gradient(10deg, #313131, #1c1c1c, #002F57);
  background-size: 800% 800%;
  animation: background 26s ease infinite; }
  .menu ion-content .item {
    border: none;
    background-color: transparent; }
    .menu ion-content .item .item-content {
      background-color: transparent;
      color: white; }
  .menu ion-content .item.active {
    background-color: white !important; }
    .menu ion-content .item.active .item-content {
      color: black;
      font-weight: bold; }

.menu-open .menu ion-header-bar img {
  animation-name: flash; }

.popoverView {
  background-color: #4E5E6E !important; }
  .popoverView .scroll {
    height: 100%; }
    .popoverView .scroll .slider {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      right: 0 !important;
      text-align: center; }
      .popoverView .scroll .slider .slider-slide img {
        max-height: 100%;
        max-width: 100%; }

.usersModal .title, .usersModal .item {
  font-family: 'Jura'; }

.usersModal .title {
  font-size: 26px;
  font-weight: bold; }

.usersModal .item {
  font-size: 20px; }

.usersModal .animate-item.ng-enter {
  animation: fadeInLeft 1s; }

.usersModal .animate-item.ng-enter-stagger {
  animation-delay: 200ms;
  animation-duration: 0; }

/*# sourceMappingURL=style.css.map */
